@using BUSS.Models;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel BUSS</title>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/flickity-docs/flickity.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/sf_pro.css">
    <link rel="stylesheet" href="~/Content/assets/css/star-rating-svg.css">
    <link rel="stylesheet" href="~/Content/assets/css/fonts.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/homestyle.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top py-0 navbar-dark">
            <a class="navbar-brand" href="/">
                <h2 class="font-weight-bold">BUSS</h2>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav align-items-center">
                    <a class="nav-item-2" href="#home">Home</a>
                    <a class="nav-item-2" href="destinasi.html">Destinasi</a>
                    <a class="nav-item-2" href="#tentang">Blog</a>
                    <a class="btn btn-rounded btn-transparent ml-3 h-50" href="@Url.Action("Login", "Customer")">
                        <i class="fa fa-user mr-2"></i> Login
                        / Daftar
                    </a>
                </div>
            </div>
        </nav>
    </header>


    <footer>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 about">
                <div class="footer-logo">
                    BusTravel
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur at sapien eu porta. Vivamus nec commodo justo. Donec quis neque ullamcorper, interdum ex ac, euismod justo.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 list">
                <h5 class="list-title">Menu</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destinasi</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 list">
                <h5 class="list-title">Kontak Kami</h5>
                <ul>
                    <li>
                        <a href="#">
                            <div class="contact-list">
                                <div class="icon"><i class="fa fa-phone mr-2 mt-1"></i></div>
                                <div class="text">+0352-8362233</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="contact-list">
                                <div class="icon"><i class="fab fa-whatsapp mr-2 mt-1"></i></div>
                                <div class="text">0812 3433 1541</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="contact-list">
                                <div class="icon"><i class="fa fa-envelope mr-2 mt-1"></i></div>
                                <div class="text">cs@bustravel.com</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="contact-list">
                                <div class="icon"><i class="fa fa-map-marker-alt mr-2 mt-1"></i></div>
                                <div class="text">Jl. Jati V D No. 8, Sungai Bambu, Tanjung Priok, Jakarta Utara</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 list">
                <h5 class="list-title">Ikuti Kami</h5>
                <ul>
                    <li>
                        <a href="#">
                            <div class="contact-list">
                                <div class="icon"><i class="fab fa-instagram mr-2 mt-1"></i></div>
                                <div class="text">Instagram</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="contact-list">
                                <div class="icon"><i class="fab fa-facebook mr-2 mt-1"></i></div>
                                <div class="text">Facebook</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="contact-list">
                                <div class="icon"><i class="fab fa-twitter mr-2 mt-1"></i></div>
                                <div class="text">Twitter</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-down">
            <p class="text-center mb-0">&copy; 2020 BusTravel</p>
        </div>
    </footer>

    <script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/flickity-docs/flickity.pkgd.min.js"></script>
    <script src="~/Content/assets/js/jquery.star-rating-svg.min.js"></script>
    <script src="~/Content/assets/js/script.js"></script>
    <script type="text/javascript">
        $(".my-rating").starRating({
            starSize: 15,
            totalStars: 5,
            emptyColor: 'rgba(0,0,0,0)',
            activeColor: '#fff',
            ratedColor: '#fff',
            useGradient: false,
            useFullStars: false,
            callback: function (currentRating, $el) {
            }
        });
        $(".dest-star").starRating({
            starSize: 15,
            totalStars: 5,
            emptyColor: 'rgba(0,0,0,0)',
            activeColor: '#ffc105',
            ratedColor: '#fff',
            useGradient: false,
            readOnly: true,
            callback: function (currentRating, $el) {
            }
        });
    </script>
</body>

</html>