html {
    font-size: 10px;
}

.header-title h2 {
    font-weight: bold;
    text-align: center;
}

.header-title p {
    font-size: 1.2em;
    text-align: center;
}


header hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #131230; /* old IE */
    background-color: #131230; /* Modern Browsers */
}

.flexrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex !important;
}

.flexrow > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

body {
    font-family: 'Arial';
}

thead {
    display: table-header-group;
}

tfoot {
    display: table-row-group;
}

tr {
    page-break-inside: avoid;
}

th {
    vertical-align: middle;
    text-align: center;
}

.imgPrint {
    width: 75px;
    height: 75px;
}

.bg-black {
    background-color: #09083a;
    color: #fff;
}

.text-black {
    color: #09083a;
}