.header-title h1 {
    font-weight: bold;
    text-align: center;
}

.header-title p {
    font-size: 1.2em;
    text-align: center;
}


header hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #131230; /* old IE */
    background-color: #131230; /* Modern Browsers */
}