.navbar-brand {
    width: 40%;
}

.height-300px {
    height: 300px;
    object-fit: cover;
}

.height-unset {
    height: unset !important;
}

.row-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-gallery {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-gallery img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.gallery-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
    transition: .3s ease-in;
    opacity: 0;
}

.link {
    background: none;
    border: none;
    outline: none;
    color: blue;
    cursor: pointer;
}

.login-aside-bg {
    background-image: url(../img/home/bus-3.png);
    background-size: cover;
}

.dt-button-collection .dropdown-menu {
    position: relative;
    width: 100%;
}

.dt-button-collection .dropdown-menu .dt-button.active {
    background: #6861CE !important;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
}

.rate2 {
    font-size: 35px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}